body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('img4.jpg'); /* Replace 'background-image.jpg' with the path to your image */
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Fix the background image */
}

.form-content {
    background: rgba(255, 255, 255, 0.8); /* Adding transparency to the form content for better readability */
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.input-group {
    margin-bottom: 20px;
    width: 100%;
}

input[type="email"], input[type="password"], input[type="text"], input[type="tel"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn {
    background-color: #0056b3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.btn:hover {
    background-color: #003d82;
}

.form-toggle a {
    color: #0056b3;
    text-decoration: none;
}

.form-toggle a:hover {
    text-decoration: underline;
}
